<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Camping"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".ui.ParcelaEdit"
            android:exported="false" />
        <activity
            android:name=".ui.ParcelaCreate"
            android:exported="false" />
        <activity
            android:name=".ui.Parcelapad"
            android:exported="false"/>
        <activity
            android:name=".ui.IndexParcela"
            android:exported="false"/>
        <activity
            android:name=".ui.IndexReserva"
            android:exported="false"/>
        <activity
            android:name=".ui.ReservaEdit"
            android:exported="false" />
        <activity
            android:name=".ui.ReservaCreate"
            android:exported="false" />
        <activity
            android:name=".ui.Reservapad"
            android:exported="false" />
        <activity
            android:name=".ui.Parcelapad_reserva"
            android:exported="false"/>
        <activity
            android:name=".ui.Parcelapad_reserva_edit"
            android:exported="false"/>
        <activity
            android:name=".ui.ReservaOcupantes"
            android:exported="false"/>
        <activity
            android:name=".ui.ReservaOcupantesEdit"
            android:exported="false"/>
        <activity
            android:name=".ui.UnitTests"
            android:exported="false"/>
        <activity
            android:name=".ui.Index"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <queries>
        <package android:name="com.whatsapp" />
    </queries>

</manifest>